.conteneur-flexible {
    display: flex;
    color: black;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    margin-top: 5px;
}

h1 {text-align: center;}
.flex-direction-row{flex-direction: row;}
.flex-direction-column{flex-direction: column;}
.flex-grow{flex-grow: 1;}
.flex-basis20{flex-basis: 15%}
a{text-decoration: none;}
.modifier{background-color: #04AA6D;}
.supprimer{background-color: #f44336;;}

.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    border-radius: 5px;
}

label {
    background-color: #04AA6D;
    color: white;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px; 
    background-color: #04AA6D;; 
    border: none; 
    font-size: 1.1em;
    border-radius: 5px;
}

/* Affichage voiture */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: center;
    padding: 26px;
    padding: 20px;
}

  
tr:nth-child(even) {
    background-color: #f2f2f2;
}