h1 {text-align: center;}
a{text-decoration: none;}
.modifier{background-color: #04AA6D;}
.supprimer{background-color: #f44336;}

.ajouter {
    background-color: #282a35; 
    font-size: 1.1em;
}

.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    border-radius: 5px;
}

label {
    background-color: #04AA6D;
    color: white;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px; 
    background-color: #04AA6D;; 
    border: none; 
    font-size: 1.1em;
    border-radius: 5px;
}

/* Affichage voiture */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: center;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsive design */
@media screen and (max-width: 725px) {
    th, td {
        padding: 10px; 
    }

    .btn {
        padding: 7px 14px; 
    }
}

@media screen and (max-width: 572px) {
    *{font-size: 0.95em;}
}